.wysiwyg {
  margin: 0 auto;
  position: relative;
  max-width: $xs;
  width: calc(100% - 30px);

  .product-hero__details & {
    max-width: 100%;
    width: 100%;
  }

  @media #{$mq-xs} {
    width: calc(100% - 80px);

    .product-hero__details & {
      width: 100%;
    }
  }
}

.wysiwyg__container {
  @extend %main;

  /**
  * Scoped as many editors will not support adding
  * class names to tags. All typographic styles
  * should be maintained in the typography css lib.
  **/
  p + p {
    margin-top: 1em;
  }

  h1 {
    @extend .h1;
  }

  h2 {
    @extend .h2;
  }

  h3 {
    @extend .h3;
  }

  h4,
  h5,
  h6 {
    @extend .h4;
  }

  ol,
  ul {
    /* @extend .list; */
  }

  blockquote {
    /* @extend .blockquote; */
  }

  img {
    /* @extend .img; */
  }

  hr {
    /* @extend .hr; */
  }

  a {
    /* @extend .link; */
  }

  i,
  em {
    @extend .italic;
  }

  b,
  strong {
    @extend .bold;
  }
}
