{% comment %} @info
This module should be used to render all WYSIWYG content
across the site. For example, the main body copy of a page
or a blog article. The key purpose of this module is
in the stylesheet. Because we don't have the ability within a WYSIWYG
to easily mutate the HTML, we bind our typography styles to
the DOM nodes only in the context of this module.

Note:
This is not a Vue.js component. This should be used only
outside the context of a Vue.js app instance.

API:
@param {String} mod_content The content to display

Example:
{%- include 'wysiwyg' with content: page.content -%}

{% endcomment %}
{%- assign mod_content = mod_content | default: false -%}
{%- if mod_content and mod_content != '' -%}

<section class="wysiwyg pt2">
  <div class="wysiwyg__container">
    {{- mod_content -}}
  </div>
</section>
{%- endif -%}

{%- assign mod_content = nil -%}
