{% comment %} @info
This module should be used to render all images
throughout the site. This is particularly useful to
ensure that all images are loaded in a lazy way, have the same
animating loader (if applicable), and have a fallback when
there is no javascript execution available.

Note:
This is not Vue.js component and should be used for
components that are not within a Vue.js app. There is
another file, "vue-image.vue.js" that should be used
to render images within a Vue.js app.

API:
@param {String} mod_class Classes to add to the image parent
@param {String} mod_attr Custom attributes to add to the main img element e.g. 'data-aos="fade-up" data-aos-duration="600"
@param {String} mod_fit Sets "object-fit: cover" or "object-fit: contain" (values: "cover" or "contain")
@param {String} mod_position Sets "object-position" class (values: "top", "right", "bottom", "left" or "center")
@param {String} mod_text The alt text for the image
@param {String} mod_src The default src for the image (should always be set)
@param {String} mod_srcset An optional srcset attribute value
@param {String} mod_src_media Optional elements to render inside the "picture" parent
@param {String} mod_src_retina A high resolution retina version of the src
@param {String} mod_loader Should the loader be shown (values: "true" or "false")

Example:
{%- include 'image',
  mod_class: 'video__fallback',
  mod_src: mod_fallback_mobile,
  mod_text: 'A concise description of the image' -%}
{% endcomment %}

{%- assign mod_class = mod_class | default: blank -%}
{%- assign mod_attr = mod_attr | default: blank -%}
{%- assign mod_fit = mod_fit | default: 'cover' -%}
{%- assign mod_position = mod_position | default: 'center' -%}
{%- assign mod_text = mod_text | default: false -%}
{%- assign mod_src = mod_src | default: false -%}
{%- assign mod_srcset = mod_srcset | default: false -%}
{%- assign mod_src_media = mod_src_media | default: false -%}
{%- assign mod_src_retina = mod_src_retina | default: false -%}
{%- assign mod_loader = mod_loader | default: true -%}
{%- assign mod_transparent = mod_transparent | default: false -%}

{%- capture mod_css -%}
  img fit-{{ mod_fit }} position-{{ mod_position }} {{ mod_class }}{% if mod_transparent %} transparent{% endif %}
{%- endcapture -%}

{%- capture mod_attr_complete -%}
  {{ mod_attr }}{% if mod_text %} title="{{ mod_text | escape }}" alt="{{ mod_text | escape }}"{% endif %}
{%- endcapture -%}

<picture class="{{- mod_css | strip -}}" data-module="image">
  <noscript>
    <img
      class="img__el is-fallback"
      src="{{- mod_src -}}"
      {{ mod_attr_complete }}>
  </noscript>

  {%- if mod_loader -%}
    <span class="img__loader" aria-hidden="true"></span>
  {%- endif -%}

  {%- if mod_src_media -%}
    {{- mod_src_media -}}
  {%- endif -%}

  <img
    class="img__el"
    data-js-class="img_el"
    data-normal="{{- mod_src -}}"
    {%- if mod_src_retina -%}
      data-retina="{{- mod_src_retina -}}"
    {%- endif -%}
    {%- if mod_srcset -%}
      data-srcset="{{- mod_srcset -}}"
    {%- endif -%}
    {{ mod_attr_complete }}>
</picture>

{%- assign mod_class = nil -%}
{%- assign mod_css = nil -%}
{%- assign mod_attr = nil -%}
{%- assign mod_attr_complete = nil -%}
{%- assign mod_fit = nil -%}
{%- assign mod_text = nil -%}
{%- assign mod_src = nil -%}
{%- assign mod_srcset = nil -%}
{%- assign mod_src_media = nil -%}
{%- assign mod_src_retina = nil -%}
{%- assign mod_loader = nil -%}
