.img,
.img__el {
  bottom: 0;
  height: 100%;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
}

.img {
  background-color: $c-grey-1;
  overflow: hidden;

  &.transparent {
    background-color: transparent;
  }

  &.fit-cover {
    .img__el {
      object-fit: cover;
      /* stylelint-disable */
      font-family: 'object-fit: cover;';
      /* stylelint-enable */
    }
  }

  &.fit-contain {
    .img__el {
      object-fit: contain;
      /* stylelint-disable */
      font-family: 'object-fit: contain;';
      /* stylelint-enable */
    }
  }

  &.position-top {
    .img__el {
      object-position: top;
    }
  }

  &.position-right {
    .img__el {
      object-position: right;
    }
  }

  &.position-bottom {
    .img__el {
      object-position: bottom;
    }
  }

  &.position-left {
    .img__el {
      object-position: left;
    }
  }

  &.position-center {
    .img__el {
      object-position: center;
    }
  }

  &.is-loaded {
    .img__el {
      opacity: 1;
    }

    .img__loader {
      opacity: 0;
      visibility: hidden;
    }
  }
}

.img__el {
  opacity: 0;
  transition-duration: $speed;
  transition-property: opacity;
  transition-timing-function: $ease;
  z-index: 2;

  &.is-fallback {
    opacity: 1;
  }

  /* For Vue transitions */
  &.fade-enter,
  &.fade-leave-to {
    opacity: 0 !important;
  }

  &.fade-enter {
    z-index: 1;
  }
}

.img__loader {
  animation: spin $duration infinite;
  background-color: $c-black;
  height: 30px;
  left: calc(50% - 15px);
  position: absolute;
  top: calc(50% - 15px);
  transition-duration: $speed;
  transition-property: opacity;
  transition-timing-function: $ease;
  width: 30px;
  z-index: 0;
}
