{% comment %} @info
We should be putting fonts, even if they are custom, here rather than
in a sass partial in the main bundle. We want to do this so we do not
need any Liquid references in our Sass bundle/s as this does have a
performance impact.

Here, we have a simple Google Fonts include. Change this to include
hosted or custom fonts as need be.
{% endcomment %}

<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Cormorant&family=Fira+Sans+Condensed:wght@500&family=Nunito&display=swap">
