{% assign desktop = desktop %}
{% assign tablet = tablet | default: mobile %}
{% assign mobile = mobile | default: desktop %}
{{ mobile | img_url: '768x' }} 768w, {{ tablet | img_url: '1536x' }} 1024w, {{ desktop | img_url: '2160x' }} 1440w
{% assign desktop = nil %}
{% assign mobile = nil %}
