{% comment %} @info
The cart icon has been abstracted into it's own module
so that it can map to a dedicated Vue.js component. The
component's purpose is to integrate with global state, so
that if the cart object changes, the number shown in this
module automatically updates.

API:
@param {Number} mod_count The initial number to show

{% endcomment %}

{%- assign mod_count = mod_count | default: 0 -%}
{%- assign mod_class = mod_class | default: false -%}

<button class="header-cart-icon js-focus-return{% if mod_class %} {{ mod_class }}{% endif %}" data-module="header-cart-icon" @click="toggleCart" tabindex="0">
  <div class="header-cart-icon__inner header-cart-icon__inner--desktop">
    <span class="inline-block">{{ 'general.navigation.cart' | t }}</span> (<span class="header-cart-icon__count--inline inline-block" aria-hidden="true" v-text="itemCount">0</span>)
  </div>
  <div class="header-cart-icon__inner header-cart-icon__inner--mobile">
    <span class="header-cart-icon__icon">{%- render 'icon' with 'icon-bag' -%}</span>
    <span class="header-cart-icon__count" aria-hidden="true" v-text="itemCount"></span>
  </div>
  <span class="sr-only" v-text="itemCountText">Your cart - <span v-text="itemCount"></span></span>
</button>

{%- assign mod_count = nil -%}
