$header-cart-icon-width: 26px;
$header-cart-icon-height: 30px;
$header-cart-count-width: 21px;
$header-cart-count-height: 21px;
$header-cart-count-font-size: 14px;

.header-cart-icon {
  @extend %p1;

  display: block;
  cursor: pointer;
  position: relative;
}

.header-cart-icon__inner--mobile {
  @media #{$mq-m} {
    display: none;
  }
}

.header-cart-icon__inner--desktop {
  display: none;

  @media #{$mq-m} {
    display: block;
  }
}

.header-cart-icon__icon {
  width: $header-cart-icon-width;
  height: $header-cart-icon-height;
  display: block;
  position: relative;
}

.header-cart-icon__count {
  width: $header-cart-count-width;
  height: $header-cart-count-height;
  position: absolute;
  top: -4px;
  right: -9px;
  background-color: $c-black;
  border-radius: 50%;
  color: $c-white;
  line-height: $header-cart-count-height;
  font-size: $header-cart-count-font-size;
  text-align: center;
  padding-left: 1px;
}
