.hamburger {
  width: 25px;
  height: 20px;
  display: block;
  color: currentColor;
  transition: height 300ms ease-in-out;

  @media #{$mq-m} {
    display: none;
  }

  &.is-active {
    height: 25px;
  }
}

.hamburger__inner {
  height: 100%;
  display: block;
  position: relative;

  &::after,
  &::before {
    content: '';
    width: 25px;
    height: 2px;
    position: absolute;
    background-color: currentColor;
    transition:
      transform 300ms ease-in-out,
      width 300ms ease-in-out;
    transform-origin: center;
  }

  &::before {
    top: 0;
    left: 0;
    transform: rotate(0);
    transform-origin: top left;

    .hamburger.is-active & {
      width: 33px;
      transform: rotate(45deg);
    }
  }

  &::after {
    bottom: 0;
    left: 0;
    transform: rotate(0);
    transform-origin: bottom left;

    .hamburger.is-active & {
      transform: rotate(-45deg);
      width: 33px;
    }
  }
}

.hamburger__inner__el {
  width: 100%;
  height: 2px;
  position: absolute;
  top: 0;
  bottom: 0;
  opacity: 1;
  background-color: currentColor;
  margin: auto;
  transition: opacity 300ms ease-in-out 300ms;

  .hamburger.is-active & {
    opacity: 0;
    transition: opacity 300ms ease-in-out;
  }
}
