<a href="javascript:void(0)" class="hamburger js-hamburger" title="{{ 'header.hamburger_icon_description' | t }}" aria-label="{{ 'header.hamburger_icon_description' | t }}">
  <span class="hamburger__inner">
    <i class="hamburger__inner__el"></i>
  </span>
  <span class="sr-only">{{ 'header.hamburger_icon_description' | t }}</span>
</a>
