$header-height: 75px;
$header-logo-width: 32px;
$header-desktop-right-menu-gutter: 20px;

.header {
  @extend %z4;

  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  transition:
    transform 300ms,
    background-color 100ms linear;
}

.header__inner {
  @extend %z4;

  background-color: $c-white;
  // important not great, more of
  // a temporary fix to resolve resize
  // issues related to sticky functionality
  width: 100% !important;
}

.header__container {
  min-height: $header-height;
}

.header__nav,
.header__icons {
  flex: 1;
}

.header__logo {
  max-width: $header-logo-width;

  &--mobile {
    display: block;

    @media #{$mq-m} {
      display: none;
    }
  }

  &--desktop {
    display: none;

    @media #{$mq-m} {
      display: block;
    }
  }
}

.header__icons__item {
  margin-right: $header-desktop-right-menu-gutter;

  &:last-child {
    margin-right: 0;
  }
}

.header__icons__item__link--account {
  display: none;

  @media #{$mq-m} {
    display: block;
  }
}
