{%- assign mod_settings = section.settings -%}
{%- assign mod_menu = mod_settings.menu -%}

<header class="header js-header relative" id="header" data-module="header" role="heading" aria-level="1">
  {%- render 'promo-bar' -%}
  <div class="header__inner js-header-inner">
    <div class="header__container container static f jcb aic ">
      <div class="header__nav">
        {% comment %}This is the left (in desktop land) part of the header{% endcomment %}
        {%- render 'header-hamburger-icon' -%}
        {%- render 'header-navigation',
          mod_menu: mod_menu,
          mod_features: section.blocks,
          mod_context: 'desktop' -%}
      </div>

      <div class="f jcc">
        <a href="/" class="header__logo--mobile" title="{{ 'header.logo_description' | t }}" aria-label="{{ 'header.logo_description' | t }}">
          <span>{% render 'icon' with 'icon-header-logo' %}</span>
          <span class="sr-only">{{ 'header.logo_description' | t }}</span>
        </a>
        {% comment %}Placeholder for any mobile-specific logo signet{% endcomment %}
        {% comment %}Delete if the logo remains the same between viewports{% endcomment %}
        <a href="/" class="header__logo--desktop" aria-hidden="true">
          {% render 'icon' with 'icon-header-logo-mobile' %}
        </a>
      </div>

      {% comment %}This is the right part of the desktop header{% endcomment %}
      <div class="header__icons">
        <ul class="f jce aic">
          <li class="relative header__icons__item">
            {%- render 'header-account-links', mod_class: 'header__icons__item__link header__icons__item__link--account h5' -%}
          </li>
          <li>
            {%- render 'header-cart-icon',
              mod_count: cart.item_count,
              mod_class: 'h5' -%}
          </li>
        </ul>
      </div>
    </div>
  </div>

  {%- render 'header-navigation',
    mod_menu: mod_menu,
    mod_context: 'mobile' -%}
</header>

{% schema %}
{
  "name": "Header",
  "settings": [
    {
      "type": "header",
      "content": "Navigation"
    },
    {
      "type": "link_list",
      "id": "menu",
      "label": "Menu"
    }
  ],
  "blocks": [
    {
      "name": "Subnav Feature",
      "type": "feature",
      "settings": [
        {
          "type": "text",
          "id": "handle",
          "label": "Top link handle",
          "info": "We use this to match the feature with the specific subnav (e.g. 'shop')"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "text",
          "id": "alt_text",
          "label": "Alt Text"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Title",
          "info": "An optional title for each feature"
        },
        {
          "type": "url",
          "id": "link",
          "label": "Link"
        }
      ]
    }
  ]
}
{% endschema %}
