{% comment %} @info
This module should be used to render all accordions on the site.
Note: This is a Vue component so this will need to be used in the
context of a Vue.js app

API:
@param {String} mod_class Classes to add to the accordion parent
@param {String} mod_title_class Classes to add to the title element
@param {String} mod_content_class Classes to add to the content element
@param {String} mod_content The contents of the accordion
@param {String} mod_title The title of the accordion
@param {String} mod_single_active Shows only 1 accordion at a time

Example:
{%- include 'accordion',
  mod_class: 'accordion--pdp',
  mod_title_class: 'h6',
  mod_content_class: 'p2',
  mod_title: accordion_title,
  mod_content: accordion_text -%}
{% endcomment %}

<div
  is="accordion"
  single_active="{{ mod_single_active }}"
  {{ mod_attr }}
  inline-template>
  <div
    class="accordion {{ mod_class }}"
    :class="{'is-active': isActive}"
    >
    <div>
      <h2>
        <button
          class="accordion__title block w1 align-l relative indigo {{ mod_title_class }}"
          @click="toggle"
          :aria-expanded="(isActive) ? 'true' : 'false'"
          :aria-controls="'accordion_' + i">
          {{- mod_title -}}
          <div class="accordion__title__icon">
          </div>
        </button>
      </h2>
      <div class="accordion__body" :style="{maxHeight: height, visibility: isOpen}" :id="'accordion_' + i">
        <div class="accordion__body__content {{ mod_content_class }}" ref="content">
          {{- mod_content | replace: '#sms:', 'sms:' -}}
        </div>
      </div>
    </div>
  </div>
</div>
