.accordion {
  padding-bottom: 17px;
}

.accordion--border-bottom {
  border-bottom: 1px solid $c-grey-1;
}

.accordion--border-top:first-of-type {
  border-top: 1px solid $c-grey-1;
}

.accordion--footer {
  @media #{$mq-xs} {
    max-width: 325px;
  }
}

.accordion--full {
  max-width: 100%;
}

.accordion__title {
  cursor: pointer;
  position: relative;
  padding: 19px 25px 0 0;
}

.accordion__title__icon {
  &::after,
  &::before {
    content: '';
    right: 3px;
    height: 2px;
    width: 10px;
    top: calc(50% + 9px);
    display: block;
    position: absolute;
    transform-origin: center;
    background-color: $c-black;
    transform: translateY(-50%);
    transition: transform 300ms;
  }

  &::before {
    transform: translateY(-50%) rotate(90deg);
  }

  .is-active & {
    &::before {
      transform: translateY(-50%) rotate(0);
    }
  }

  .accordion--no-icon & {
    display: none;
  }
}

.accordion__body {
  overflow: hidden;
  max-height: 0;
  transition: all 0.2s linear;
}

.accordion__body__content {
  padding-top: 20px;
  padding-bottom: 5px;

  .accordion--faq & {
    padding-top: 40px;

    @media #{$mq-s} {
      padding-top: 75px;
    }
  }

  p {
    margin-bottom: 10px;

    &:empty {
      margin-bottom: 0;
    }

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  strong {
    font-weight: bold;
  }

  em {
    font-style: italic;
  }

  ul {
    padding: 5px 0;

    li {
      padding-left: 15px;
      margin-bottom: 5px;
      position: relative;

      &::before {
        content: '';
        left: 2px;
        top: 9px;
        width: 5px;
        height: 5px;
        border-radius: 50%;
        position: absolute;
        background: $c-blue;
      }

      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }
}

/**
 * Accessibility styling
 */
.accordion.focus-within {
  .accordion__title::before {
    transform: translateY(-50%) rotate(0);
  }

  .accordion__body {
    max-height: none !important;
  }
}
