.text-input--default {
  position: relative;
}

.text-input {
  position: relative;

  /* Resolves autocomplete white background issue */
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    -webkit-transition-delay: 9999s;
    transition-delay: 9999s;
  }
}

.text-input__wrapper {
  border: 1px solid $c-grey-3;
  border-radius: 3px;
  height: 45px;
  line-height: 45px;
  padding: 0 15px;
  position: relative;

  .text-input--default & {
    position: relative;
  }
}

.text-input__el {
  border: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  position: relative;
  font-size: $font-size-base;

  .text-input--label & {
    border: 1px solid $c-black;
    height: 50px;
    padding-left: 15px;
  }
}

.text-input__label {
  pointer-events: none;
  z-index: 9;

  .text-input--label & {
    margin-bottom: 10px;
  }

  .text-input--default & {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    transform: translateY(0);
    height: 1.5em;
    transition: all 200ms;
    z-index: 1;
    background: $c-white;
    line-height: 1.5em;

    &.is-active {
      transform: translateY(-120%);
      font-size: 12px;
      padding: 0 4px;
    }
  }
}

.text-input__error {
  font-size: 12px;
  left: 0;
  position: absolute;
  top: 100%;
  transition: opacity 300ms;

  .text-input--floating-errors & {
    background: $c-white;
    border-radius: 2px;
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.2);
    left: 0;
    padding: 4px;
    position: absolute;
    right: 0;
    text-align: center;
    width: 100%;
  }

  .text-input--label &,
  .text-input--default & {
    margin-top: 7px;
  }
}

.form-row__error__text-error {
  bottom: -16px;
  font-size: 11px;
  left: 1px;
  margin-top: 5px;
  position: absolute;
  transition: opacity 300ms;
}
