{% comment %} @info
This module should be used to render all text inputs
throughout the site.

Note:
This is a Vue.js component and should be included as
a component of a parent Vue.js app.

API:
@param {String} mod_name The element's "name" attribute
@param {Boolean} mod_dynamic_name Is the name a Vue.js computed property or a static value?
@param {String} mod_label The element's "label" attribute
@param {String} mod_type The element's "type" attribute
@param {Boolean} mod_autocorrect The element's "autocorrect" attribute (true, false)
@param {Boolean} mod_autocapitalize The element's "autocapitalize" attribute (true, false)
@param {String} mod_class Classes to attach to the element
@param {String} mod_error An optional error message to show
@param {Function} mod_change A Vue.js method to act as a change event handler
@param {String} mod_style The BEM modifier (turns into: text-input--{value})
@param {Boolean} mod_required Is this a required value?
@param {Function} mod_initial_value A function that returns the initial value for the component
@param {String} mod_initial_value_static A static initial value for the component
@param {Function} mod_validation A function to validate the value upon submit (returns true or false)

Example:
{%- include 'text-input' with
  mod_name: 'address[city]',
  mod_label: 'City',
  mod_change: 'onInputChange',
  mod_initial_value: "getInitialValue",
  mod_error: 'City is required',
  mod_required: true -%}

{% endcomment %}
{%- assign mod_name = mod_name | default: false -%}
{%- assign mod_dynamic_name = mod_dynamic_name | default: false -%}
{%- assign mod_label = mod_label | default: false -%}
{%- assign mod_type = mod_type | default: 'text' -%}
{%- assign mod_autocorrect = mod_autocorrect | default: false -%}
{%- assign mod_autocapitalize = mod_autocapitalize | default: false -%}
{%- assign mod_placeholder = mod_placeholder | default: '' -%}
{%- assign mod_show_placeholder = mod_show_placeholder | default: false -%}
{%- assign mod_class = mod_class | default: '' -%}
{%- assign mod_error = mod_error | default: '' -%}
{%- assign mod_change = mod_change | default: false -%}
{%- assign mod_style = mod_style | default: 'default' -%}
{%- assign mod_required = mod_required | default: false -%}
{%- assign mod_initial_value = mod_initial_value | default: false -%}
{%- assign mod_initial_value_static = mod_initial_value_static | default: false -%}
{%- assign mod_validation = mod_validation | default: false -%}

{% if mod_name %}
  <input
    is="text-input"
    {% if mod_change %}v-on:change="{{- mod_change -}}"{% endif %}
    {%- if mod_label -%}
    label="{{- mod_label -}}"
    aria-label="{{- mod_label -}}"
    {% endif %}
    class="{{ mod_class }}"
    modifier="{{- mod_style -}}"
    type="{{- mod_type -}}"
    {% if mod_dynamic_name %}:{% endif %}name="{{- mod_name -}}"
    {% if mod_show_placeholder %}placeholder="{{- mod_placeholder -}}"{% endif %}
    :autocorrect="{{- mod_autocorrect -}}"
    :autocapitalize="{{- mod_autocapitalize -}}"
    {% if mod_required %}:required="true"{% endif %}
    {% if mod_validation %}:validate-method="{{- mod_validation -}}"{% endif %}
    {% if mod_initial_value %}{% unless mod_initial_value_static %}:initial-value-getter="{{- mod_initial_value -}}"{% endunless %}{% endif %}
    {% if mod_initial_value and mod_initial_value_static %}:initial-value-getter="function () { return '{{- mod_initial_value -}}'}"{% endif %}
    error="{{- mod_error -}}"
    @change="valueChange" />
{% else %}
  <p class="p2 italic bold">Whoops! Looks like you missed a value for this field :)</p>
{% endif %}

{%- assign mod_name = nil -%}
{%- assign mod_dynamic_name = nil -%}
{%- assign mod_label = nil -%}
{%- assign mod_type = nil -%}
{%- assign mod_autocorrect = nil -%}
{%- assign mod_autocapitalize = nil -%}
{%- assign mod_placeholder = nil -%}
{%- assign mod_show_placeholder = nil -%}
{%- assign mod_class = nil -%}
{%- assign mod_error = nil -%}
{%- assign mod_change = nil -%}
{%- assign mod_style = nil -%}
{%- assign mod_required = nil -%}
{%- assign mod_initial_value = nil -%}
{%- assign mod_initial_value_static = nil -%}
{%- assign mod_validation = nil -%}
