{%- assign mod_class = mod_class | default: '' -%}
{% if customer %}
  <a href="/account" class="{{ mod_class }}">{{ 'header.account' | t }}</a>
{% else %}
  <a href="/account/login" class="{{ mod_class }}">{{ 'header.login' | t }}</a>
{% endif %}
