{% comment %} @info
This is intentionally empty for the purpose of this
boilerplate only. As you develop, keep this template
file lightweight. Include a module to begin, for example:

{% render 'account-order' %}

{% endcomment %}
