button,
.btn,
[class^="btn--"] {
  &:focus {
    box-shadow: 0 0 0 1px $c-blue;
  }
}

.btn {
  @extend %h5;

  height: 60px;
  min-width: 240px;
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
  align-items: center;
  display: inline-flex;
  justify-content: center;

  span {
    display: block;
    line-height: 100%;
  }

  &.btn--full {
    width: 100%;
  }

  &.btn--black {
    color: $c-white;
    background: $c-black;
  }

  &.btn--compact {
    height: auto;
    padding: 11px 9px;
    min-width: initial;
    line-height: $line-height-base;
  }

  &.btn--small {
    height: auto;
    padding: 5px 0;
    min-width: initial;
    line-height: $line-height-base;
  }

  &.btn--underline {
    position: relative;

    span::after {
      content: "";
      left: 0;
      right: 0;
      height: 1px;
      bottom: 3px;
      background: $c-black;
      position: absolute;
    }
  }
}

%btn--reset,
.btn--reset {
  padding: 0;
  height: auto;
  text-align: left;
  min-width: inherit;
  text-decoration: underline;
  line-height: $line-height-base;
}

.btn--primary {
  color: $c-white;
  border: 1px solid $c-grey-1;
  background-color: $c-grey-1;
  transition: all 300ms;

  &:disabled {
    opacity: 1;
  }

  &.disabled {
    opacity: 0.5;
    pointer-events: none;
  }

  &:hover:not(:disabled) {
    background-color: $c-black;
    border-color: $c-black;
    color: $c-white;

    span {
      color: $c-white;
      margin-bottom: 0;
    }
  }

  &:focus:not(:disabled) {
    color: $c-white;

    span {
      color: $c-white;
    }
  }

  &.btn--compact {
    @extend %h5;

    height: 40px;
    min-width: 180px;
    padding: 0 15px 2px;

    /* Accessibility Related */
    &:active {
      outline: 2px dotted $c-black !important;
      outline-offset: 2px;
    }
  }
}

.btn--outlined {
  color: $c-grey-1;
  border: 2px solid $c-grey-1;
  transition: all 300ms;

  &:hover:not(:disabled) {
    color: $c-white !important;
    background-color: $c-black;
    border: 2px solid $c-black;
  }

  &:disabled {
    opacity: 1;
  }

  &.btn--outlined--disabled {
    pointer-events: none;
  }

  span {
    margin-bottom: 0;
  }
}

.btn--full-width {
  width: 100%;
}

.btn--link {
  @extend %btn--reset;
  @extend %h5;

  text-decoration: none;
  position: relative;
  line-height: calc(1em + 9px);
}

.btn--link--sm {
  @extend %btn--reset;
  @extend %h5;

  text-decoration: none;
  position: relative;
  line-height: calc(1em + 6px);
}

.btn--link,
.btn--link--sm {
  &::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: -5px;
    height: 2px;
    background-color: currentColor;
  }
}

.btn--switch {
  color: $c-black;

  &--passive {
    display: flex;
  }

  &--active {
    display: none;
  }

  &.active {
    .btn--switch--passive {
      display: none;
    }

    .btn--switch--active {
      display: flex;
    }
  }
}
