$header-cart-max-width: 520px;

.header-cart {
  top: 0;
  bottom: 0;
  width: 100%;
  right: -$header-cart-max-width;
  position: fixed;
  max-width: $header-cart-max-width;
  background: $c-white;
  box-shadow: -4px 0 30px rgba(0, 0, 0, 0);
  transition: all $speed $ease;

  &.active {
    right: 0;
    box-shadow: -4px 0 30px rgba(0, 0, 0, 0.2);
  }

  &__header {
    margin: 0 0 30px;
  }

  &__wrapper {
    height: 100vh;
    display: block;
    max-width: 480px;
    position: relative;
    padding: 30px 20px 150px;
  }
}

.header-cart--bg {
  top: 0;
  left: 0;
  bottom: 0;
  display: none;
  position: fixed;
  right: $header-cart-max-width;
}

.header-cart.active .header-cart--bg {
  display: block;
}

.header-cart__header__close {
  top: 0;
  right: 0;
  width: 15px;
  height: 15px;
  cursor: pointer;
  position: absolute;
}

.header-cart__body {
  display: block;

  &__element {
    margin-bottom: 130px;

    &:last-of-type {
      margin-bottom: 0;
    }
  }
}

.header-cart__element__image {
  width: 95px;
  height: 127px;
  margin-right: 20px;
  background: $c-grey-1;
}

.header-cart__element__data {
  position: relative;
  width: calc(100% - 115px);
}

.header-cart__element__title {
  margin-bottom: 6px;
}

.header-cart__element__price {
  top: 0;
  right: 0;
  position: absolute;
}

.header-cart__element__option {
  margin-bottom: 3px;
}

.header-cart__footer {
  left: 20px;
  right: 20px;
  bottom: 20px;
  padding: 35px 0 0;
  border-top: 1px solid $c-grey-1;

  &__title {
    margin-bottom: 20px;
  }
}

.cart-page-element__qty {
  margin-top: 10px;
}
