<section data-module="header-cart" aria-hidden="true">
  <div
    class="header-cart z5"
    :class="{ active: cartStatus }"
    role="dialog"
    aria-modal="false"
    aria-labelledby="cart-title"
    @keydown="A11yRespondToKeyDown">
    <div class="header-cart__wrapper mha">
      <div class="header-cart__header align-c relative">
        <p class="p2 uppercase" id="cart-title" tabindex="-1" ref="title">{{ "cart.general.title" | t }}</p>
        <button class="header-cart__header__close" @click="closeCart">
          {% render 'icon' with 'icon-close' %}
          <span class="sr-only">{{ "cart.general.close_cart" | t }}</span>
        </button>
        <!-- /.header__search-close -->
      </div>

      <div class="header-cart__body">
        <div
          v-for="single in cartItems"
          class="header-cart__body__element"
        >
          <div is="header-cart-item" :single="single" :max-qty="9"></div>
        </div>
      </div>

      <div class="header-cart__footer absolute">
        <div class="header-cart__footer__title f fw jcb">
          <p class="p3 uppercase">Subtotal:</p>
          <p class="p3 uppercase" v-text="cartTotal"></p>
        </div>

        <form action="/checkout" method="post" novalidate>
          {% render 'button' with mod_value: 'Checkout', mod_class: 'btn--full
          uppercase overwrite-outline', mod_type: 'submit', mod_style: 'primary' %}
        </form>
      </div>
    </div>
    <div class="header-cart--bg" @click="close"></div>
  </div>
</section>
