$header-nav-mobile-border-color: $c-grey-3;
$header-nav-mobile-accordion-background: $c-grey-2;
$header-nav-mobile-vertical-padding: 20px;
$header-nav-mobile-horizontal-padding: ($gutter / 2);
$header-nav-mobile-header-height: 75px;
$header-nav-desktop-subnav-padding: 80px;
$header-nav-desktop-subnav-column-spacing: 160px;
$header-nav-desktop-top-link-gutter: 40px;
$header-nav-desktop-border-color: $c-grey-4;

.header-nav {
  width: 100%;

  &.is-visible {
    transform: translateX(0);
  }

  &--mobile {
    overflow-y: auto;
    position: fixed;
    left: 0;
    background-color: $c-white;
    transform: translateX(-100%);
    transition: transform 300ms ease-in-out;
    border-top: 1px solid $header-nav-mobile-border-color;

    @media #{$mq-m} {
      display: none;
    }
  }

  &--desktop {
    display: none;

    @media #{$mq-m} {
      display: block;
    }
  }
}

.header-nav__items {
  @media #{$mq-m} {
    display: flex;
    align-items: center;
  }
}

.header-nav__item {
  width: 100%;

  @media #{$mq-m} {
    width: auto;
    top: 0;
  }

  .header-nav--mobile & {
    border-bottom: 1px solid $header-nav-mobile-border-color;
  }

  .header-nav--desktop & {
    margin-right: $header-nav-desktop-top-link-gutter;
  }
}

.header-nav__item__link {
  .header-nav--mobile & {
    display: block;
    padding-top: $header-nav-mobile-vertical-padding;
    padding-bottom: calc(#{$header-nav-mobile-vertical-padding} - 0.2em);
    padding-left: $header-nav-mobile-horizontal-padding;
    padding-right: $header-nav-mobile-horizontal-padding;
  }
}

.header-nav__subnav {
  width: 100%;
  background-color: $c-white;
}

.header-nav__subnav--mobile {
  height: 0;
  overflow: hidden;
  transition: height 300ms ease-in-out;
  background-color: $header-nav-mobile-accordion-background;
  padding-left: $header-nav-mobile-horizontal-padding;
  padding-right: $header-nav-mobile-horizontal-padding;
}

.header-nav__subnav--desktop {
  position: absolute;
  top: 100%;
  left: 0;
  border-top: 1px solid $header-nav-desktop-border-color;
  opacity: 0;
  visibility: hidden;
  padding: $header-nav-desktop-subnav-padding 0;
  display: flex;
  justify-content: space-between;
  transition:
    opacity 500ms ease-in-out 0ms,
    visibility 1ms linear 500ms;

  .header-nav__item:focus-within &,
  .header-nav__item:hover &,
  .header-nav__item.is-active & {
    opacity: 1;
    visibility: visible;
    transition:
      opacity 500ms ease-in-out 1ms,
      visibility 1ms linear;
  }
}

.header-nav__inner--desktop {
  display: flex;
  justify-content: space-between;
}

.header-nav__subnav__items {
  .header-nav--desktop & {
    display: flex;
  }

  .header-nav--mobile & {
    padding-top: $header-nav-mobile-vertical-padding;
    padding-bottom: calc(#{$header-nav-mobile-vertical-padding} - 0.2em);
  }
}

.header-nav__subnav__item + .header-nav__subnav__item {
  .header-nav--mobile & {
    margin-top: 10px;
  }

  .header-nav--desktop & {
    margin-left: $header-nav-desktop-subnav-column-spacing;
  }
}

.header-nav__subnav__item__title {
  margin-bottom: 10px;
}

.header-nav__subnav__item__link {
  display: block;

  .header-nav--mobile & {
    padding: 5px 0;
  }

  .header-nav--desktop & {
    padding: 5px 0;
  }
}
