{% comment %} @info
This module renders the top level links, and submenus, of the site header.
The nesting of the links is fully controlled within a single Shopify
Navigation List. This module also supports a single image-based
feature for each subnav, controlled within the Header section schema.

This is used to render both mobile and desktop navigation.

A supported Shopify Navigation List format looks like the following:
  |-- Top level link
  |-- Top level link with subnav
  |    |-- Column title
  |    |    |-- Link
  |    |    |-- Link
  |    |    |-- Link
  |    |    |-- Link
  |    |
  |    |-- Column title
  |    |    |-- Link
  |    |    |-- Link
  |    |    |-- Link
  |    |    |-- Link
  |
  |-- Top level link

{% endcomment %}

{%- assign mod_menu_handle = mod_menu_handle | default: 'main-menu' -%}
{%- assign mod_menu = linklists[mod_menu_handle] -%}
{%- assign mod_context = mod_context | default: 'desktop' -%}

<nav class="header-nav header-nav--{{ mod_context }} js-is-{{ mod_context }} js-header-navigation z4" data-module="header-navigation" aria-label="{{ 'header.navigation_description' | t }}" role="navigation">
  <ul class="header-nav__items">
    {%- for link in mod_menu.links -%}
      {%- capture title -%}{{ link.title }}{%- endcapture -%}
      <li class="header-nav__item js-link {% if link.links != blank %}has-subnav{% endif %}" aria-label="{{ title }}" tabindex="0">
        {%- if link.links != blank -%}
          <a href="{{ link.url }}" class="header-nav__item__link h5" title="{{ title }}">{{ title | strip }}</a>
          <div class="header-nav__subnav header-nav__subnav--{{ mod_context }} js-subnav" tabindex="-1">
            <div class="header-nav__subnav__inner header-nav__inner--{{ mod_context }}{% if mod_context == 'desktop' %} container{% endif %}">
              <ul class="header-nav__subnav__items">
                {%- for link in link.links -%}
                  {%- if link.links != blank -%}
                    <div class="header-nav__subnav__item">
                      <div class="header-nav__subnav__item__title {% if mod_context == 'mobile' %}h5{% else %}h4{% endif %}">{{ link.title }}</div>
                      {%- if link.links != blank -%}
                      <div class="header-nav__subnav__item__links">
                        {%- for link in link.links -%}
                          <a href="{{ link.url }}" class="header-nav__subnav__item__link p1 js-sub-link">{{ link.title }}</a>
                        {%- endfor -%}
                      </div>
                      {%- endif -%}
                    </div>
                  {%- else -%}
                    <div class="header-nav__subnav__item">
                      <a href="{{ link.url }}" class="header-nav__subnav__item__link p1 js-sub-link" title="{{ link.title }}">{{ link.title }}</a>
                    </div>
                  {%- endif -%}
                {%- endfor -%}
              </ul>
              {%- if mod_context == 'desktop' -%}
                {%- render 'header-feature', mod_features: mod_features, mod_title: title -%}
              {%- endif -%}
            </div>
          </div>
        {%- else -%}
          <a href="{{ link.url }}" title="{{ link.title }}" class="header-nav__item__link h5{% if link.active %} is-active{% endif %}">{{ link.title | strip }}</a>
        {%- endif -%}
      </li>
      {%- assign title = nil -%}
    {%- endfor -%}
    {%- if mod_context == 'mobile' -%}
      <li class="header-nav__item" tabindex="0">
        {%- render 'header-account-links', mod_class: 'header-nav__item__link h5' -%}
      </li>
    {%- endif -%}
  </ul>
</nav>
