{%- assign mod_handle = mod_handle | default: '' -%}

<template id="modal-template">
  <div class="modal__wrapper" :class="{ active: isActive }">
    <transition name="fade">
      <div
        v-if="isActive"
        class="modal__bg"
        @click.prevent="closeModal"></div>
    </transition>
    <transition name="slide-fade">
      <div
        class="modal__wrap"
        :class="[
          modalClasses,
          extraClasses,
          small ? 'modal__wrap--small' : ''
        ]"
        v-if="isActive">
        <div class="close__modal" @click.prevent="closeModal" aria-label="{{ 'general.modal.close' | t }}">
          {% render 'icon' with 'icon-close' %}
        </div>
        <div class="modal__container" ref="container">
          <div class="modal__content">
            <div :class="modalContentClasses">
              <slot name="default"></slot>
              <slot name="footer"></slot>
            </div>
          </div>
        </div>
      </div>
    </transition>
  </div>
</template>
