.modal__bg {
  @extend %z9;

  background-color: rgba($c-grey-3, 0.6);
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.modal__wrap {
  @extend %z9;

  background-color: $c-white;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  width: 100vw;
  max-width: 930px;
  height: 100vh;
  max-height: 100vh;

  @media #{$mq-xs} {
    height: auto;
    max-height: calc(100vh - 127px);
    width: calc(100% - 40px);
    max-width: 588px;
  }

  @media #{$mq-s} {
    max-width: 824px;
  }

  @media #{$mq-m} {
    max-width: 930px;
  }

  &.modal__wrap--small {
    max-width: 420px;

    .single-form {
      margin: 0 20px;
      width: calc(100% - 40px);

      & > div {
        padding: 40px 0 20px;
      }
    }
  }

  &.modal__wrap--quick-view {
    max-width: 930px;

    .modal__inner > div {
      padding: 0;
      max-width: 100%;
    }

    .single-form {
      margin: 0;
      width: 100%;
    }
  }
}

.modal__wrapper {
  &.active {
    @extend %z10;

    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
    transform: translate(0, 0);
  }
}

.modal__container {
  z-index: 2;
  position: relative;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  overflow-y: auto;

  @media #{$mq-xs} {
    height: auto;
    max-height: 100%;
  }
}

.modal__content {
  flex: 1;
}

.modal__title {
  text-align: center;
  margin-bottom: 30px;
}

.modal__inner {
  margin: 0 auto;

  > div,
  [slot=default] {
    padding: 44px 20px 116px;
    max-width: 720px;
    margin: 0 auto;
  }

  .table--flex {
    overflow: auto;
    max-height: calc(100vh - 120px);
  }
}

.modal__footer {
  position: relative;
  bottom: 0;
  width: 100%;
  max-width: initial;
  left: 0;
  height: 3.75rem;
  text-align: center;
  z-index: 2;

  a {
    display: block;
    box-sizing: border-box;
    width: 200px;
    padding: 16px;
    margin: 0 auto;
    height: 60px;

    span {
      line-height: 26px;
      height: 26px;
      display: block;
      padding-left: 40px;
      text-align: right;
      position: relative;
      top: -26px;
    }

    svg {
      display: block;
      margin-right: 0.5rem;
      line-height: 26px;
      height: 26px;
      position: relative;
      top: 0;
    }
  }
}

.close__modal {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 24px;
  display: block;
  cursor: pointer;
  transition: opacity $ease-out-quart $duration;
  z-index: 3;

  svg {
    width: 100%;
    height: auto;
    display: block;
  }

  &:hover {
    opacity: 0.8;
  }

  &:hover svg {
    fill: $c-red;
  }

  @media #{$mq-m} {
    top: 21px;
    right: 21px;
  }
}
