{% comment %} @info
This module renders an image feature within a header subnav on desktop.
The data fed in is handled in the Header section schema.
{% endcomment %}

{%- assign mod_handle = mod_title | handleize | default: false -%}
{%- assign mod_features = mod_features | default: false -%}

{%- if mod_features -%}
{%- for feature in mod_features -%}
{%- if feature.settings.handle != mod_handle -%}{% continue %}{%- endif -%}
<div class="header-feature">
  <a href="{{ feature.settings.link }}">
    {%- if feature.settings.title -%}
    <p class="header-feature__title h4">{{ feature.settings.title }}</p>
    {%- endif -%}
    <div class="header-feature__image relative ratio">
    {%- assign mod_src = feature.settings.image | img_url: '600x' -%}
    {%- render 'image', mod_src: mod_src, mod_text: feature.settings.alt_text -%}
    </div>
  </a>
</div>
{%- endfor -%}
{%- endif -%}
