$header-feature-width: 300px;
$header-feature-image-aspect: 120%;

.header-feature {
  width: $header-feature-width;
}

.header-feature__image {
  padding-top: $header-feature-image-aspect;
}

.header-feature__title {
  margin-bottom: 10px;
}
