<!DOCTYPE html>
{%- render 'half-helix' -%}
<html lang="{{ shop.locale }}">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {%- render 'fonts' -%}
  {%- render 'javascript-globals' -%}
  {%- render 'javascript-lang' -%}
  {{ 'main.min.css' | asset_url | stylesheet_tag }}
  {%- render 'page-title' -%}
  {%- render 'social-meta-tags' -%}
  {%- render 'seo-schema' -%}
  {%- render 'favicon' -%}
  {{ content_for_header }}

  <!-- Vendor snippets -->
  {%- render 'yotpo' -%}
</head>

<body class="{{ template_class }} template--{{template}} template--{{template.suffix}}">
  {%- render 'skip-to-main' -%}
  {%- section 'header' -%}
  {%- render 'header-cart' -%}

  <div class="wrapper">
    <main class="main" id="main" tabindex="-1">
      {{ content_for_layout }}
    </div>
  </div>

  {%- render 'modal' -%}

  {%- render 'newsletter-bar' -%}

  {{ 'main.js' | asset_url | script_tag }}

  {%- section 'swatches' -%}
  {%- render 'icon-paths' -%}
</body>
</html>
